# This macro was provided by discord user Garrettwp to whom i give my thanks for sharing it with me.
# I have tweaked it a lot.
#
# this macro is  based on the great Annex magprobe dockable probe macros "#Originally developed by Mental, modified for better use on K-series printers by RyanG and Trails"
# that macro as since evolved into a klipper plugin that currently is pending inclusion in klipper
# more information here https://github.com/Annex-Engineering/Quickdraw_Probe/tree/main/Klipper_Macros
#
# by standing on the shoulders of giants, lets see if we can see further
# User richardjm revised the macro variables and added some functions, thanks a lot
# This macro home is https://github.com/jlas1/Klicky-Probe

###################
# Quad Gantry Level
[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
description: Conform a moving, twistable gantry to the shape of a stationary bed with klicky automount
gcode:
    {% set V = printer["gcode_macro _User_Variables"].verbose %}
    {% set level_faster = printer["gcode_macro _User_Variables"].level_faster|default(False) %}
    {% set level_tolerance = printer["gcode_macro _User_Variables"].level_tolerance|default(1) %}
    {% set level_hmove = printer["gcode_macro _User_Variables"].level_hmove|default(3)|int %}

    {% set adjusted_z = printer.configfile.config["probe"]["z_offset"] | int + level_hmove %}

    {% if V %}
        { action_respond_info("QG Level") }
    {% endif %}

    _CheckProbe action=query
    G90
    Attach_Probe
    _KLICKY_STATUS_LEVELING

    {% if level_faster %}
        _KlickyDebug msg="QGL faster enabled"
        {% if "quad_gantry_level" in printer and printer.quad_gantry_level.applied %}
            _KlickyDebug msg="QGL already run, going directly to second pass"
        {% else %}
            _QUAD_GANTRY_LEVEL RETRY_TOLERANCE={level_tolerance}
        {% endif %}
        _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z={adjusted_z}
    {% else %}
        _KlickyDebug msg="qgl faster disabled"
        _QUAD_GANTRY_LEVEL 
    {% endif %}

    {% if not 'z_virtual_endstop' in printer['configfile'].config["stepper_z"]["endstop_pin"] %}    
        _KlickyDebug msg="qgl standard z endstop detected, docking probe"
        Dock_Probe
    {% endif %}
    _KlickyDebug msg="qgl faster Z homing"
    G28 Z0
    {% if 'z_virtual_endstop' in printer['configfile'].config["stepper_z"]["endstop_pin"] %}    
        _KlickyDebug msg="qgl virtual z endstop detected, docking probe"
        Dock_Probe
    {% endif %}

