# Simple way to include all the various klicky macros and configurations
# The current home for this configuration is https://github.com/jlas1/Klicky-Probe, please check it

[include ./klicky-variables.cfg]                # Required
[include ./klicky-macros.cfg]                   # Required
#[include ./klicky-sensorless-homing.cfg]       # Sensorless homing, requires klipper configuration
#[include ./klicky-bed-mesh-calibrate.cfg]      # Bed mesh, requires klipper configuration
#[include ./klicky-screws-tilt-calculate.cfg]   # Measures bed leveling screw position and calculates changes
#[include ./klicky-quad-gantry-level.cfg]       # Level 4 Z motors
#[include ./klicky-z-tilt-adjust.cfg]           # Level 2 or 3 Z motors
#[include ./klicky-specific.cfg]                # Place to put other configurations specific to your printer