[servo klicky_servo]
pin: PA1
#pin: PE15
#check were your servo is wired
maximum_servo_angle: 180
#Metal SG90
#minimum_pulse_width: 0.00025
#maximum_pulse_width: 0.0024
#Plastic SG90
minimum_pulse_width: 0.00025
maximum_pulse_width: 0.0024

[gcode_macro _servo_test_angle]
gcode:
	{% set ANGLE  = params.ANGLE|int %}
	
    SET_SERVO SERVO=klicky_servo ANGLE={ANGLE}
    G4 P250
    SET_SERVO SERVO=klicky_servo WIDTH=0.0
